Repository RoadRana/Invictus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Salah1293, @RoadRana, @hos-arafat, @lead-dev

Improve PR CI Pipeline/Github Action
  .github/workflows/pr-ci.yml
Owners: @hos-arafat

Fix commented-out Initial Deploy Worflow
  .github/workflows/initial-deploy-flow.yml
Owners: @hos-arafat

Add formatting with pretier & type-checking
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Owners: @Salah1293, @RoadRana, @hos-arafat

Update PR CI Action to implement Requirement 1 of best-practices
  .github/workflows/pr-ci.yml
Owners: @hos-arafat

Improve how the PR CI Pipeline works during/after team on-boarding
  .github/workflows/pr-ci.yml
Owners: @hos-arafat

Set PR CI flow to run on error till team is on-boarded
  .github/workflows/pr-ci.yml
Owners: @hos-arafat

Add doc detailing all best-practices for web-dev
  docs/dev-cicd-deploy_requirements.md
Owners: @hos-arafat

feat (ci): More granular CI workflows for code & docs
  .github/workflows/docs-ci.yml
Owners: @hos-arafat

Add PR templates
  .github/PULL_REQUEST_TEMPLATE/cicd.md
  .github/PULL_REQUEST_TEMPLATE/general.md
  .github/PULL_REQUEST_TEMPLATE/web_development.md
Owners: @hos-arafat

docs(CI_CD): Include detailed info about Github Actions approach
  docs/CI_CD.md
Owners: @hos-arafat

Fix typo in branch name in CI flow
  .github/workflows/pr-ci.yml
Owners: @hos-arafat

docs(contributing): Move to root of the repo
  CONTRIBUTING.md
Owners: @hos-arafat

docs(templates): Initial commit of Bug & Feature templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @hos-arafat

docs(readmes): Initial commit of all docs
  LICENSE
  README.md
  docs/ARCHITECTURE.md
  docs/CI_CD.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/SECURITY.md
Owners: @Salah1293, @RoadRana, @hos-arafat

feat(ci): Updated Action dedicated to staging deployment
  .github/workflows/deploy-staging.yml
Owners: @hos-arafat

feat (ci): More granular CI workflows for code changes
  .github/workflows/pr-ci.yml
Owners: @hos-arafat

docs (templates): Introduce CI/CD PR Template
  .github/PULL_REQUEST_TEMPLATE/cicd.md
Owners: @hos-arafat

refactor (ci): split deployment into staging and production workflows
  .github/workflows/deploy-production.yml
  .github/workflows/initial-deploy-flow.yml
Owners: @hos-arafat

docs (ci): Detailed info about our Action/Workflows
  docs/CI_CD.md
  docs/CI_CD_OPTIMIZATION.md
Owners: @hos-arafat

feat (ci): Improve file formatting & use env vars
  .github/workflows/deploy-production.yml
Owners: @hos-arafat

operations page is added
  src/components/About.jsx
  src/components/Footer.jsx
  src/components/Home.jsx
  src/components/Navbar.jsx
  src/components/Services.jsx
  src/components/Signup.jsx
Owners: @RoadRana, @lead-dev

WIP: local changes
  .env
  src/App.css
  src/App.jsx
  src/components/Home.jsx
  src/components/Operations.jsx
  src/components/Profile.jsx
  src/components/Signin.jsx
  src/components/Signup.jsx
  vite.config.js
Owners: @Salah1293, @RoadRana, @hos-arafat, @lead-dev

fixing auto importing
  src/App.jsx
  src/components/About.jsx
  src/components/Community.jsx
  src/components/Contact.jsx
  src/components/CreateRobotPage.jsx
  src/components/CustomizePage.jsx
  src/components/Home.jsx
  src/components/Logo.jsx
  src/components/Navbar.jsx
  src/components/Operations.jsx
  src/components/OperationsPage.jsx
  src/components/Pipeline.jsx
  src/components/Products.jsx
  src/components/Profile.jsx
  src/components/RobotOperations.jsx
  src/components/ServiceOperations.jsx
  src/components/Services.jsx
  src/components/Signup.jsx
  src/components/StaffOperations.jsx
  src/components/Stafflogin.jsx
  src/shared/Banner.jsx
Owners: @Salah1293, @RoadRana, @hos-arafat, @lead-dev

fix buges
  src/components/Navbar.jsx
  tests/integration/app-routing.test.jsx
  tests/unit/footer.test.jsx
Owners: @RoadRana, @lead-dev, @Salah1293, @hos-arafat

fixing types
  coverage/unit/coverage-summary.json
  package-lock.json
  package.json
  src/components/Navbar.jsx
  src/components/RobotOperations.jsx
  src/components/ServiceOperations.jsx
  src/components/Services.jsx
  src/components/Signup.jsx
  src/components/StaffOperations.jsx
  src/components/Stafflogin.jsx
  src/shared/Banner.jsx
  tests/unit/footer.test.jsx
  tsconfig.json
Owners: @Salah1293, @RoadRana, @hos-arafat, @lead-dev

fixing types
  tsconfig.json
Owners: @hos-arafat, @RoadRana

fixing security scan
  package.json
Owners: @hos-arafat, @RoadRana

test changes
  src/App.css
  src/App.jsx
  src/components/About.jsx
  src/components/Community.css
  src/components/Community.jsx
  src/components/Contact.jsx
  src/components/CreateRobotPage.jsx
  src/components/CustomizePage.jsx
  src/components/Footer.jsx
  src/components/Home.jsx
  src/components/Logo.css
  src/components/Logo.jsx
  src/components/Navbar.jsx
  src/components/Operations.jsx
  src/components/OperationsPage.jsx
  src/components/Pipeline.jsx
  src/components/Products.jsx
  src/components/Profile.css
  src/components/Profile.jsx
  src/components/RobotOperations.jsx
  src/components/ScrollToTop.jsx
  src/components/Services.jsx
  src/components/Signin.css
  src/components/Signin.jsx
  src/components/Signup.css
  src/components/Signup.jsx
  src/components/StaffOperations.jsx
  src/components/Stafflogin.jsx
  src/index.css
  src/main.jsx
Owners: @Salah1293, @RoadRana, @hos-arafat, @lead-dev

WIP: update package-lock before switching
  package-lock.json
Owners: @Salah1293, @RoadRana, @hos-arafat

remove warning
  src/App.jsx
  src/components/Navbar.jsx
  src/components/Signup.jsx
Owners: @Salah1293, @RoadRana, @hos-arafat, @lead-dev

improving ui
  package-lock.json
  package.json
  src/App.css
  src/components/About.jsx
  src/components/Contact.jsx
  src/components/Footer.jsx
  src/components/Home.jsx
  src/components/Logo.css
  src/components/Logo.jsx
  src/components/Navbar.jsx
  src/components/Signin.css
  src/components/Signup.css
  src/components/Signup.jsx
  src/index.css
  src/shared/Banner.jsx
  src/shared/Button.jsx
  src/shared/Card.jsx
  src/shared/ThemeToggle.jsx
  src/shared/reveal.jsx
  src/shared/useTheme.jsx
  tailwind.config.js
Owners: @Salah1293, @RoadRana, @hos-arafat, @lead-dev

.github/CODEOWNERS:

# .github/CODEOWNERS
# 
# This file defines who is responsible for code in this repository.
# GitHub will automatically request reviews from these users/teams when
# files they "own" are modified in a pull request.
#
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Syntax:
# pattern email|@username|@org/team-name
#
# Order matters! Later matches take precedence over earlier ones.

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review.

# * @yourusername

# =============================================================================
# EXAMPLE: SOLO DEVELOPER (Your Current Setup)
# =============================================================================
# For a solo developer, keep it simple:

# * @yourusername
# /.github/ @yourusername
# /deployment/ @yourusername

# =============================================================================
# EXAMPLE: SMALL TEAM (2-5 people)
# =============================================================================

# # Default owners for all files
# * @lead-dev @tech-lead
# 
# # Frontend code
# /src/components/ @frontend-dev @lead-dev
# /src/pages/ @frontend-dev
# /src/styles/ @frontend-dev @designer
# 
# # Backend/API integration
# /src/api/ @backend-dev @lead-dev
# /src/services/ @backend-dev
# 
# # Infrastructure and deployment
# /.github/ @devops-engineer @lead-dev
# /deployment/ @devops-engineer
# /.ebextensions/ @devops-engineer
# /Dockerfile @devops-engineer
# 
# # Documentation
# /docs/ @lead-dev @tech-writer
# *.md @lead-dev
# 
# # Configuration files
# package.json @lead-dev @frontend-dev
# tsconfig.json @lead-dev @frontend-dev
# vite.config.ts @lead-dev @frontend-dev

# =============================================================================
# EXAMPLE: LARGER TEAM (World-Class Company Style)
# Based on how companies like GitHub, Stripe, and Vercel structure theirs
# =============================================================================

# # ==================================================
# # Global Owners (Fallback)
# # ==================================================
# * @org/engineering-leads
# 
# # ==================================================
# # Frontend
# # ==================================================
# /src/ @org/frontend-team
# /src/components/ @org/frontend-team @org/design-system-team
# /src/pages/ @org/frontend-team
# /public/ @org/frontend-team
# 
# # ==================================================
# # Specific Feature Areas
# # ==================================================
# # Authentication & Security
# /src/auth/ @org/security-team @org/backend-team
# /src/components/Login/ @org/security-team @org/frontend-team
# 
# # Payment Integration
# /src/payment/ @org/payments-team @payment-lead
# /src/components/Checkout/ @org/payments-team @org/frontend-team
# 
# # Admin Dashboard
# /src/admin/ @org/admin-team @admin-lead
# 
# # ==================================================
# # Infrastructure & DevOps
# # ==================================================
# /.github/ @org/devops-team @org/security-team
# /.github/workflows/ @org/devops-team
# /deployment/ @org/devops-team
# /docker/ @org/devops-team
# *.dockerfile @org/devops-team
# docker-compose*.yml @org/devops-team
# 
# # ==================================================
# # Configuration Files (Require Multiple Approvals)
# # ==================================================
# package.json @org/frontend-leads @org/security-team
# package-lock.json @org/frontend-leads
# tsconfig.json @org/frontend-leads
# vite.config.* @org/frontend-leads @org/devops-team
# .eslintrc* @org/frontend-leads
# 
# # AWS and cloud configuration
# /.ebextensions/ @org/devops-team @org/cloud-team
# /terraform/ @org/devops-team @org/cloud-team
# /cloudformation/ @org/devops-team @org/cloud-team
# 
# # ==================================================
# # Security-Sensitive Files (Strict Review)
# # ==================================================
# # These require approval from security team
# .github/workflows/*.yml @org/devops-team @org/security-team
# **/auth*.* @org/security-team
# **/secrets*.* @org/security-team
# **/*security*.* @org/security-team
# 
# # ==================================================
# # Documentation
# # ==================================================
# /docs/ @org/docs-team @org/engineering-leads
# *.md @org/docs-team
# README.md @org/engineering-leads
# CONTRIBUTING.md @org/engineering-leads @org/docs-team
# 
# # ==================================================
# # Database & Schema
# # ==================================================
# /migrations/ @org/backend-team @org/dba-team
# /schema/ @org/backend-team @org/dba-team
# 
# # ==================================================
# # Legal & Compliance
# # ==================================================
# LICENSE @org/legal-team @org/engineering-leads
# /legal/ @org/legal-team
# PRIVACY.md @org/legal-team
# 
# # ==================================================
# # Build & Dependencies
# # ==================================================
# Dockerfile @org/devops-team @org/security-team
# .dockerignore @org/devops-team
# .gitignore @org/engineering-leads
# 
# # ==================================================
# # Critical Root Files
# # ==================================================
# # These affect the entire project and need thorough review
# .github/CODEOWNERS @org/engineering-leads @org/devops-team

# =============================================================================
# ADVANCED PATTERNS
# =============================================================================

# # Match any file with "test" in its name
# **/*test* @org/qa-team
# 
# # Match all JavaScript/TypeScript files
# *.js @org/frontend-team
# *.jsx @org/frontend-team
# *.ts @org/frontend-team
# *.tsx @org/frontend-team
# 
# # Match all CSS/SCSS files
# *.css @org/design-team
# *.scss @org/design-team
# 
# # Match all configuration files
# *.config.* @org/devops-team @org/engineering-leads
# 
# # Specific file by name
# package.json @org/frontend-leads @org/security-team
# 
# # Multiple owners (all must approve if "Require review from Code Owners" is enabled)
# /critical-feature/ @owner1 @owner2 @owner3

# =============================================================================
# YOUR CURRENT RECOMMENDED CODEOWNERS (Solo Developer)
# =============================================================================
# Start simple, expand as your team grows

# Default owners for all files
# @lead-dev @tech-lead @devops-engineer
* @Salah1293 @RoadRana @hos-arafat

# Frontend code
/src/components/ @RoadRana @lead-dev
/src/pages/ @RoadRana
/src/styles/ @RoadRana

# Backend/API integration
/src/api/ @Salah1293 @hos-arafat
/src/services/ @Salah1293

# Infrastructure and deployment
/.github/ @hos-arafat
/deployment/ @hos-arafat
/.ebextensions/ @hos-arafat
/Dockerfile @hos-arafat

# Documentation
# /docs/ @lead-dev @tech-writer
*.md @hos-arafat

# Configuration files
package.json @hos-arafat @RoadRana
tsconfig.json @hos-arafat @RoadRana
vite.config.ts @hos-arafat @RoadRana
